# Dependências
node_modules/

# Segurança e Credenciais
.env
auth_info_baileys/
credentials.json
token.json

# Logs e arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pdf

# Banco de Dados Local (se houver dump)
*.sql